In [1]:
import pandas as pd

In [2]:
comedy = pd.read_csv('source_data/aimen/track_motion_comedy.csv')
documentary = pd.read_csv('source_data/aimen/tracked_motion_documentary.csv')
horror = pd.read_csv('source_data/aimen/tracked_motion_horror.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'source_data/aimen/track_motion_comedy.csv'

In [3]:
comedy

,timestamp,time_elapsed_seconds,x_coordinate,y_coordinate
0,2025-06-07 10:29:20.285,0.033,1039,365
1,2025-06-07 10:29:20.353,0.100,1040,365
2,2025-06-07 10:29:20.422,0.169,1043,363
3,2025-06-07 10:29:20.488,0.236,1043,368
4,2025-06-07 10:29:20.557,0.305,1043,368
...,...,...,...,...
23552,2025-06-07 10:52:20.952,1380.700,957,515
23553,2025-06-07 10:52:20.984,1380.732,957,515
23554,2025-06-07 10:52:21.013,1380.761,957,515
23555,2025-06-07 10:52:21.044,1380.792,958,514
23556,2025-06-07 10:52:21.083,1380.831,958,514

In [4]:
comedy.drop('time_elapsed_seconds', axis=1, inplace=True)
documentary.drop('time_elapsed_seconds', axis=1, inplace=True)
horror.drop('time_elapsed_seconds', axis=1, inplace=True)

In [5]:
horror

                     timestamp  x_coordinate  y_coordinate
0      2025-06-07 12:55:35.254          1116           385
1      2025-06-07 12:55:35.288          1117           385
2      2025-06-07 12:55:35.321          1117           385
3      2025-06-07 12:55:35.356          1117           386
4      2025-06-07 12:55:35.391          1117           387
...                        ...           ...           ...
26836  2025-06-07 13:16:16.859           996           318
26837  2025-06-07 13:16:16.893           994           319
26838  2025-06-07 13:16:16.925           993           319
26839  2025-06-07 13:16:16.962           992           319
26840  2025-06-07 13:16:16.991           992           317

[26841 rows x 3 columns]

In [6]:
def aggregate_data(df):
    df['timestamp'] = pd.to_datetime(df['timestamp']).dt.tz_localize(None)

    # Floor timestamps to the nearest second
    df['time_rounded'] = df['timestamp'].dt.floor('1s')
    
    # Group by the rounded time and average
    return df.groupby('time_rounded').mean().reset_index()

comedy = aggregate_data(comedy)
documentary = aggregate_data(documentary)
horror = aggregate_data(horror)

In [7]:
comedy

,time_rounded,timestamp,x_coordinate,y_coordinate
0,2025-06-07 10:29:20,2025-06-07 10:29:20.621454336,1041.181818,367.454545
1,2025-06-07 10:29:21,2025-06-07 10:29:21.488400128,1023.466667,372.333333
2,2025-06-07 10:29:22,2025-06-07 10:29:22.488933376,1031.066667,375.933333
3,2025-06-07 10:29:23,2025-06-07 10:29:23.575347712,1031.913043,373.608696
4,2025-06-07 10:29:24,2025-06-07 10:29:24.511724288,1034.068966,373.068966
...,...,...,...,...
1377,2025-06-07 10:52:17,2025-06-07 10:52:17.492466688,966.133333,503.200000
1378,2025-06-07 10:52:18,2025-06-07 10:52:18.582045440,928.409091,502.272727
1379,2025-06-07 10:52:19,2025-06-07 10:52:19.498555648,945.444444,510.000000
1380,2025-06-07 10:52:20,2025-06-07 10:52:20.516499968,951.230769,515.230769
1381,2025-06-07 10:52:21,2025-06-07 10:52:21.046666496,957.666667,514.333333

In [8]:
comedy.drop('timestamp', axis=1, inplace=True)
documentary.drop('timestamp', axis=1, inplace=True)
horror.drop('timestamp', axis=1, inplace=True)

comedy['timestamp'] = comedy['time_rounded']
documentary['timestamp'] = documentary['time_rounded']
horror['timestamp'] = horror['time_rounded']

comedy.drop('time_rounded', axis=1, inplace=True)
documentary.drop('time_rounded', axis=1, inplace=True)
horror.drop('time_rounded', axis=1, inplace=True)

In [9]:
comedy

      x_coordinate  y_coordinate           timestamp
0      1041.181818    367.454545 2025-06-07 10:29:20
1      1023.466667    372.333333 2025-06-07 10:29:21
2      1031.066667    375.933333 2025-06-07 10:29:22
3      1031.913043    373.608696 2025-06-07 10:29:23
4      1034.068966    373.068966 2025-06-07 10:29:24
...            ...           ...                 ...
1377    966.133333    503.200000 2025-06-07 10:52:17
1378    928.409091    502.272727 2025-06-07 10:52:18
1379    945.444444    510.000000 2025-06-07 10:52:19
1380    951.230769    515.230769 2025-06-07 10:52:20
1381    957.666667    514.333333 2025-06-07 10:52:21

[1382 rows x 3 columns]

In [10]:
comedy = comedy[['timestamp'] + [col for col in comedy.columns if col != 'timestamp']]
documentary = documentary[['timestamp'] + [col for col in documentary.columns if col != 'timestamp']]
horror = horror[['timestamp'] + [col for col in horror.columns if col != 'timestamp']]

In [11]:
comedy

               timestamp  x_coordinate  y_coordinate
0    2025-06-07 10:29:20   1041.181818    367.454545
1    2025-06-07 10:29:21   1023.466667    372.333333
2    2025-06-07 10:29:22   1031.066667    375.933333
3    2025-06-07 10:29:23   1031.913043    373.608696
4    2025-06-07 10:29:24   1034.068966    373.068966
...                  ...           ...           ...
1377 2025-06-07 10:52:17    966.133333    503.200000
1378 2025-06-07 10:52:18    928.409091    502.272727
1379 2025-06-07 10:52:19    945.444444    510.000000
1380 2025-06-07 10:52:20    951.230769    515.230769
1381 2025-06-07 10:52:21    957.666667    514.333333

[1382 rows x 3 columns]

In [12]:
documentary

               timestamp  x_coordinate  y_coordinate
0    2025-06-07 11:29:42   1178.375000    405.000000
1    2025-06-07 11:29:43   1177.633333    404.700000
2    2025-06-07 11:29:44   1147.266667    403.766667
3    2025-06-07 11:29:45   1168.466667    407.966667
4    2025-06-07 11:29:46   1175.366667    408.033333
...                  ...           ...           ...
1582 2025-06-07 11:56:04   1005.700000    533.800000
1583 2025-06-07 11:56:05    995.266667    529.066667
1584 2025-06-07 11:56:06    993.933333    527.900000
1585 2025-06-07 11:56:07    992.566667    531.600000
1586 2025-06-07 11:56:08    988.600000    532.400000

[1587 rows x 3 columns]

In [13]:
horror

               timestamp  x_coordinate  y_coordinate
0    2025-06-07 12:55:35   1115.652174    386.434783
1    2025-06-07 12:55:36   1096.566667    393.733333
2    2025-06-07 12:55:37   1095.066667    393.866667
3    2025-06-07 12:55:38   1084.133333    395.833333
4    2025-06-07 12:55:39   1094.866667    415.633333
...                  ...           ...           ...
1237 2025-06-07 13:16:12    970.083333    417.875000
1238 2025-06-07 13:16:13    962.033333    388.000000
1239 2025-06-07 13:16:14    963.586207    314.586207
1240 2025-06-07 13:16:15    981.166667    315.900000
1241 2025-06-07 13:16:16    998.793103    317.758621

[1242 rows x 3 columns]

In [14]:
comedy.to_csv('../data_collection/generated_data/clara/comedy_tm.csv', index=False)
documentary.to_csv('../data_collection/generated_data/clara/documentary_tm.csv', index=False)
horror.to_csv('../data_collection/generated_data/clara/horror_tm.csv', index=False)